#menu {
    width: 150px;
    height: 100vh; /* Full height */
    position: fixed; /* Sticks to the left */
    top: 0;
    left: 0; /* Always visible */
    background: #ddd;
    padding-top: 25vh; /* pushes menu buttons down */
}

#menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

#menu a:hover {
    background: #bbb;
}

#menu a {
    display: block;
    margin-bottom: 5vh; /* Adds space between buttons */
    padding: 5vh;
    text-decoration: none;
    color: black;
}

#page1 {
    z-index: 1;
    }
    
    #page2 {
    z-index: 2;
    }
    
    #page3 {
     z-index: 3;
    }
    
    #page4 {
    z-index: 4;
    }
    
    #page5 {
    z-index: 5;
    }
    
    #page6 {
    z-index: 6;
    }
    
    #page7 {
    z-index: 7;
    }
    
    #page8 {
    z-index: 8;
    }
    
    #page9 {
    z-index: 9;
    }
    
    #banner {
        width: 100vw;
        height: 130px; 
        position: fixed; /* Sticks to the left */
        top: 0;
        left: 0; /* Always visible */
        background: #ddd;
    }